@import "../blog/theme.scss";
@import "../common/common_mixin.scss";
@import "../common/common_define.scss";

$headerH:55px;

//自定义字体
@font-face {
  font-family: 'lovely_eunike_hans';
  src: url('../../fonts/Hand_Of_Sean_Demo.ttf');
  font-weight: normal;
  font-style: normal;
}


#header {
  width: 100%;
  min-width: 1200px;
  padding: 0 70px 0 100px;
  background-color: #29221f;
  height: $headerH;
  line-height: $headerH;

  .user-logo {
    float: left;
    font-size: 26px;
    font-family: lovely_eunike_hans;
    span{
      &:nth-child(1){
        color: #FC354C;
      }
      &:nth-child(2){
        color: #FCF7C5;
      }
      &:nth-child(3){
        color: #0ABFBC;
      }
    }
  }


  //主题菜单
  .theme-list {
    float: left;
    font-size: 0;
    overflow: hidden;
    margin-left: 20%;

    li {
      display: inline-block;
      vertical-align: middle;
      animation: 0.3s;
      @include box-shadow(0 0 3px rgba(18, 20, 20, 0.3));
      a{
        cursor: pointer;
        width: 35px;
        height: 15px;
        display: block;
      }

      &:first-child{
        @include border-radius(3px 0 0 3px);
      }
      &:last-child{
        @include border-radius(0 3px 3px 0);
      }
      &:hover{
        @include border-radius(3px);
        height: 20px;
      }
    }

    @each $theme-name, $theme-color in $theme-color-name{
      .theme-#{$theme-name} {
        background-color: $theme-color;
      }
    }
  }

  //头部菜单和登录导航
  .header-nav,.user-login-nav {
    float: right;
    font-size: 0;

    li {
      position: relative;
      display: inline-block;
      a {
        font-size: 14px;
        display: block;
        padding: 0 20px;
        color: #fffef1;
        cursor: pointer;
        text-decoration: none;
        @include transition(0.3s);
        &:hover{
          color: #0ABFBC;
        }
        &.active{
          color: #0ABFBC;
        }
      }
    }
  }
  //用户登录导航
  .user-login-nav{
    margin-left: 30px;

    li a{
      padding: 0 5px;
    }

    //用户设置菜单
    .user-config-menu{
      display: none;
      position: absolute;
      top: $headerH+10px;
      left:-20px;
      background-color: #ffffff;
      border: 1px solid #e7eaf1;
      z-index: 10000;
      padding: 5px 0;
      @include border-radius(5px);
      @include box-shadow(0 5px 20px rgba(0,34,77,.1));
      li{
        display: block;
        a{
          width: 120px;
          height: 35px;
          line-height: 35px;
          display: block;
          color: #333;
          text-align: center;
          &:hover{
            color: #999999;
            background-color: #F4F8FB;
          }
        }
      }
      &:after{
        content:'';
        display: block;
        top:-10px;
        @extend %center-horizontally;
        @include triangle-up(10px,#ffffff);
      }
    }
  }
}