@import "../common/common_mixin.scss";
@import "../common/common_define.scss";
@import "theme.scss";

//===================背景图标===============
$bg-icon: add-btn, close-btn, article-reply, article-like, article-notSearch, article-notfound, article-detail-tag, article-time, article-search, article-sort, article-timeline, article-cate, article-tag, article-author;
@each $bg-icon-list in $bg-icon {
  .#{$bg-icon-list}-icon {
    display: inline-block;
    background: url("../../image/#{$bg-icon-list}.png") no-repeat center;
    background-size: 100% 100%;
  }
}



#main {
  min-width: 1200px;
  background-color: #f7f7f7;
  font-family: '微软雅黑';
  /*================头图===============*/
  .main-image {
    height: 400px;
    width: 100%;
    background-size: contain;
    &.home-page{
      background: url("../../image/main-image.jpg") no-repeat center;
    }
    &.cate-page{
      background: url("../../image/main-image9.jpg") no-repeat center;
    }
    &.tag-page{
      background: url("../../image/main-image2.jpg") no-repeat center;
    }
    &.detail-page{
      background: url("../../image/main-image5.jpg") no-repeat center;
    }

  }

  /*================中间内容==============*/
  .content-wrapper {
    width: 980px;
    margin: 0 auto;
    padding: 40px 0;

    /*==========用户设置页========*/
    @at-root
    #user-config-box {
      width: 450px;
      margin: 0 auto;
      text-align: center;
      h1 {
        margin: 20px 0 40px 0;
      }

      /*用户信息*/
      ul {
        margin-bottom: 60px;
        li {
          text-align: left;
          margin: 25px 0;
          span, input {
            vertical-align: middle;
          }
          > span {
            display: inline-block;
            width: 65px;
          }
          b{
            color: #e51717;
          }
          input {
            width: 320px;
            height: 33px;
            padding: 6px 5px 6px 15px;
            border:1px solid #cdcdcd;
            @include transition(border 0.3s);
            @include border-radius(15px);
          }
          .user-cur-icon {
            img {
              width: 100px;
              height: 100px;
              border: none;
              @include border-radius(50%);
            }
          }
        }
      }
    }
    /*头像设置*/
    #icon-config-box {
      width: 680px;
      position: absolute;
      top: 120px;
      left: 50%;
      margin-left: -325px;
      background: #ffffff;
      display: none;
      z-index: 1000;
      @include border-radius(10px);
      label{
        margin-bottom: 0;
      }
      .config-title {
        height: 46px;
        line-height: 46px;
        padding-left: 10px;
        border-bottom: 1px solid #dddddd;
        @include box-sizing(border-box);
        span {
          font-size: 16px;
        }
        .close-btn-icon {
          width: 20px;
          height: 20px;
          float: right;
          margin: 13px 13px 0 0;
          cursor: pointer;
        }
      }
      .upload-main {
        padding: 30px 0 30px 30px;
        @include box-sizing(border-box);

        //上传头像
        .upload-icon {
          padding: 8px 0;
          button {
            padding: 6px 15px;
            font-size: 14px;
            @include border-radius(5px);

            .avatar-name{
              font-size: 14px;
            }
          }
        }
        //头像显示区域
        .icon-show-area {
          float: left;
          width: 68%;
          height: 300px;
          border: 2px solid #dddddd;
          text-align: center;
          @include box-sizing(border-box);
          p {
            margin-top: 120px;
            font-size: 16px;
          }
        }
        //预览头像区域
        .preview-icon-area {
          float: left;
          text-align: center;
          width: 32%;
          @include box-sizing(border-box);

          .previewImg {
            margin: 20px auto;
            border: 1px solid #dddddd;
            overflow: hidden;
            @include border-radius(50%);
            img {
              width: 100%;
            }
          }
          .preview-icon-large {
            width: 120px;
            height: 120px;
          }
          .preview-icon-small {
            width: 80px;
            height: 80px;
          }
        }
      }
      //剪裁按钮
      .icon-tailoring-content {
        font-size: 0;
        margin: 0 30px 30px 30px;

        .sort-item {
          display: inline-block;
          margin-left: 6px;
          overflow: hidden;
          @include border-radius(5px);

        }
        .l-btn {
          font-size: 14px;
        }
        .sureCut {
          float: right;
          width: 110px;
          margin-right: 20px;
          @include border-radius(5px);
        }
      }
    }

    /*==========左边内容========*/
    .left-content {
      float: left;
      width: 75%;
      padding-right: 90px;
      @include box-sizing(border-box);

      a{
        text-decoration: none;
        cursor: pointer;
      }

      //=====暂无文章提示=====
      .article-notfound{
        margin-top: 60px;
        text-align: center;
        .article-notfound-icon{
          width: 100px;
          height: 100px;
        }
        .article-notSearch-icon{
          width: 160px;
          height: 100px;
        }
        .no-article-text {
          color: #333;
          text-align: center;
          font-size: 16px;
          margin-top: 10px;
        }

      }

      /*=====首页=====*/
      .cur-article-list {
        position: relative;
        background-color: #ffffff;
        padding: 20px 55px 20px 25px;
        text-align: left;
        margin-bottom: 25px;
        cursor: pointer;
        transition: 0.5s;
        text-align: justify;
        @include border-radius(6px);
        @include box-shadow(0 0 3px rgba(0, 0, 0, 0.2));
        > a {
          display: block;
        }
        &:hover {
          @include box-shadow(0 0 8px rgba(0, 0, 0, 0.4));
        }
        /*文章标题*/
        h3 {
          color: lighten(#0ABFBC, 1%);
          font-size: 20px;
        }
        /*文章介绍*/
        .article-intro {
          font-size: 13px;
          color: #666666;
          line-height: 22px;
          margin: 15px 0 10px 0;
          &:hover {
            cursor: pointer;
          }
        }
        /*其他信息*/
        .other-info {
          font-size: 12px;
          color: #999;
          span {
            margin-right: 15px;
          }
          span, i {
            display: inline-block;
            vertical-align: bottom;
          }
          /*图标*/
          .article-time-icon, .article-sort-icon,.article-author-icon {
            width: 20px;
            height: 20px;
            margin-right: 3px;
          }
        }
        /*文章操作*/
        .article-operate {
          position: absolute;
          top: 28px;
          right: 20px;
          z-index: 999;
          //展开按钮
          .open-icon-box {
            display: inline-block;
            padding: 10px 18px;
            position: absolute;
            top: -28px;
            right: -14px;
            text-align: center;
            &:hover{
              .open-icon {
                border-color: #FC354C;
              }
            }
            .open-icon {
              @include openIconPc(#444, 9px);
            }
          }
          //操作菜单
          .operate-menu {
            background: #ffffff;
            margin-top: 8px;
            display: none;
            border: 1px solid #dddddd;
            @include box-shadow(0 0 5px rgba(0, 0, 0, 0.4));
            li {
              display: block;
              a {
                display: block;
                font-size: 13px;
                color: #666666;
                padding: 8px 12px;
                &:hover {
                  background: #F2F2F2;
                }
              }
            }
          }
          //确认弹框
          .confirm-box {
            display: none;
            position: absolute;
            width: 170px;
            top:-60px;
            right: -30px;
            padding: 14px 18px;
            background: #ffffff;
            border: 1px solid #dddddd;
            text-align: center;
            z-index: 999;
            @include box-shadow(0 0 5px rgba(0, 0, 0, 0.4));
            p{
              font-size: 12px;
              color: #333333;
              margin-bottom: 13px;
            }
            .confirm-btn{
              font-size: 0;
              a{
                display: inline-block;
                border: 1px solid #dddddd;
                padding: 3px 14px;
                font-size: 12px;
                &:first-child{
                  color: #ffffff;
                  background-color: #FC354C;
                  margin-right: 15px;
                  &:hover{
                    background-color: darken(#FC354C,12%);
                  }
                }
                &:last-child{
                  color: #444;
                  background-color: #ffffff;
                }
              }
            }
          }
        }
      }

      /*=====文章详情页=====*/
      .article-detail-box{

        //文章标题
        h1{
          font-size: 32px;
          font-weight: bold;
        }

        .article-attach-info{
          margin: 20px 0;

          //发布时间和分类
          .pubtime-cate {
            float: left;
            padding-left: 5px;
            font-size: 12px;
            color: #777;
            //分类
            .cate-name {
              padding: 2px 5px;
              font-size: 12px;
              color: #FC354C;
              border: 1px solid #FC354C;
              @include border-radius(5px);
            }
            .article-pub-time {
              padding-left: 5px;
            }
          }
          //标签
          .cur-article-tag-all {
            float: right;
            font-size: 0;
            .article-detail-tag-icon {
              display: inline-block;
              vertical-align: middle;
              width: 24px;
              height: 24px;
            }

            ul {
              display: inline-block;
              vertical-align: middle;
              li {
                display: inline-block;
                margin: 0 3px;
                a {
                  color: #666666;
                  font-size: 13px;
                  text-decoration: underline;
                  &:hover {
                    color: #2aabd2;
                  }
                }
              }

            }
          }
        }


        //文章正文
        .cur-article-text{
          text-align: justify;
          color: #444;
          text-indent: 32px;
          line-height: 26px;
          font-size: 16px;
        }
      }

      /*文章评论与回复*/
      #article-comment-area {
        margin: 30px 0;
        padding: 20px 0;

        //评论条数
        .comment-num{
          font-size: 18px;
          color: #333333;
          font-weight:bold;
          border-bottom: 1px solid #999999;
          padding-bottom: 15px;
          margin-bottom: 15px;

        }

        //写评论
        .write-comment-box,.write-reply-box {
          font-size: 0;
          textarea {
            font-size: 14px;
            width: 100%;
            height: 60px;
            padding: 5px 12px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            @include box-sizing(border-box);
            @include border-radius(6px);
          }
          .comment-btn {
            text-align: right;
            a {
              font-size: 14px;
              display: inline-block;
              color: #666666;
              padding: 6px 18px;
              @include border-radius(3px);
              &:last-child{
                margin-left: 20px ;
              }

            }
          }
        }

        //===其他用户评论===
        .other-comments {
          margin: 30px auto;
          //==评论列表
          .comment-list {
            margin: 25px auto;
            //用户名
            h4 {
              color: #333333;
              font-weight: bold;
              font-size: 18px;
            }
            //评论内容
            .comment-contents {
              font-size: 15px;
              color: #333333;
              margin: 10px 0;
            }
            .other-info{
              color: #777777;

              //评论日期
              .comment-date{
                float: left;
                font-size: 13px;
              }
              //回复评论菜单
              .reply-comment-nav{
                float: right;
                font-size: 0;
                li{
                  display: inline-block;
                  font-size: 13px;
                  margin: 0 15px;
                  cursor: pointer;
                  i{
                    width: 20px;
                    height: 20px;
                    vertical-align: bottom;
                  }
                  span{
                    vertical-align: bottom;
                    padding-left: 5px;
                  }
                }
              }
            }
            //回复框
            .write-reply-box{
              display: none;
              margin-top: 8px;
            }

            //==回复列表盒子==
            .reply-list-box{
              border-left: 2px solid #999;
              padding: 0 15px;
              margin: 12px 0;
              @include box-sizing(border-box);
              .reply-list{
                padding: 12px 0;
                border-bottom: 1px dashed #CCCCCC;
                a,span{
                  display: inline-block;
                  vertical-align: middle;
                }
                &:first-child{
                  padding-top: 0;
                }
                .reply-user-name{
                  color: #00a0e9;
                  cursor: pointer;
                }
                .reply-content{

                }
                .reply-date{
                  color: #777777;
                  font-size: 12px;
                }
                .reply-btn{
                  cursor: pointer;
                  font-size: 12px;
                  color: #777777;
                }
              }
            }
          }
        }
      }

      /*=====标签页=====*/
      .tag-page-info,.cate-page-info {
        padding: 15px 0;
        }
        //标签和分类下的文章列表
        .list-block {
          margin-bottom: 45px;
          padding-bottom: 15px;
          border-bottom: 1px dashed #ccc;

          //标签名
          h3 {
            color: #0ABFBC;
            margin-bottom: 20px;
          }
          //文章列表
          ul {
            padding-left: 15px;
              li{
                font-size: 15px;
                color: #666;
                list-style-type: disc;
                a {
                  display: block;
                  color: #666;
                  margin-top: 10px;
                  &:hover {
                    text-decoration: underline;
                  }
                  .pub-time {
                    font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
                    font-size: 12px;
                    color: #777;
                  }
                }
              }
          }
        }
      }

  }
   
  }

