@charset "UTF-8";
/*===============主题样式设置===============*/
#theme-default #main .content-wrapper .l-btn {
  padding: 9px 12px;
  color: #ffffff;
  background-color: #0ABFBC;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transiton: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  #theme-default #main .content-wrapper .l-btn:hover {
    background-color: #09a7a4; }

#theme-default #main .content-wrapper .submit-btn {
  text-align: center;
  margin-top: 25px; }
  #theme-default #main .content-wrapper .submit-btn button {
    width: 130px;
    -moz-border-radius: 5px;
    /* Firefox */
    -webkit-border-radius: 5px;
    /* Safari 和 Chrome */
    border-radius: 5px;
    /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */ }

#theme-default #main .content-wrapper input.focus, #theme-default #main .content-wrapper textarea.focus {
  border: 1px solid #0ABFBC;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -ms-transiton: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s; }

#theme-default #main .content-wrapper input.danger-border {
  border: 1px solid #e51717;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -ms-transiton: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s; }

#theme-default #main .content-wrapper .left-content #article-comment-area .comment-btn a:last-child {
  background-color: #0ABFBC;
  border: 1px solid #0ABFBC;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transiton: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  #theme-default #main .content-wrapper .left-content #article-comment-area .comment-btn a:last-child:hover {
    background-color: #078f8c; }

#theme-default #main .content-wrapper .left-content #article-comment-area .write-comment-box .comment-texts.focus, #theme-default #main .content-wrapper .left-content #article-comment-area .write-reply-box .comment-texts.focus {
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -ms-transiton: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
  border: 1px solid #0ABFBC; }

#theme-default #main .content-wrapper .left-content #article-comment-area .other-comments .comment-list .other-info .reply-comment li:hover {
  color: #0defec; }

#theme-default #main .content-wrapper .left-content #article-comment-area .other-comments .comment-list .reply-btn:hover {
  color: #0ABFBC; }

#theme-gray {
  /*头部*/
  /*中间部分*/ }
  #theme-gray #main .content-wrapper .l-btn {
    padding: 9px 12px;
    color: #ffffff;
    background-color: #6F6F6F;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transiton: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    #theme-gray #main .content-wrapper .l-btn:hover {
      background-color: #626262; }
  #theme-gray #main .content-wrapper .submit-btn {
    text-align: center;
    margin-top: 25px; }
    #theme-gray #main .content-wrapper .submit-btn button {
      width: 130px;
      -moz-border-radius: 5px;
      /* Firefox */
      -webkit-border-radius: 5px;
      /* Safari 和 Chrome */
      border-radius: 5px;
      /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */ }
  #theme-gray #main .content-wrapper input.focus, #theme-gray #main .content-wrapper textarea.focus {
    border: 1px solid #6F6F6F;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s; }
  #theme-gray #main .content-wrapper input.danger-border {
    border: 1px solid #e51717;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s; }
  #theme-gray #main .content-wrapper .left-content #article-comment-area .comment-btn a:last-child {
    background-color: #6F6F6F;
    border: 1px solid #6F6F6F;
    color: #ffffff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transiton: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #theme-gray #main .content-wrapper .left-content #article-comment-area .comment-btn a:last-child:hover {
      background-color: #565656; }
  #theme-gray #main .content-wrapper .left-content #article-comment-area .write-comment-box .comment-texts.focus, #theme-gray #main .content-wrapper .left-content #article-comment-area .write-reply-box .comment-texts.focus {
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    border: 1px solid #6F6F6F; }
  #theme-gray #main .content-wrapper .left-content #article-comment-area .other-comments .comment-list .other-info .reply-comment li:hover {
    color: #898989; }
  #theme-gray #main .content-wrapper .left-content #article-comment-area .other-comments .comment-list .reply-btn:hover {
    color: #6F6F6F; }
  #theme-gray #header {
    background-color: #6F6F6F; }
    #theme-gray #header .user-logo span {
      color: #ffffff; }
    #theme-gray #header .header-nav li a:hover, #theme-gray #header .user-login-nav li a:hover {
      color: #000000; }
    #theme-gray #header .header-nav li a.active, #theme-gray #header .user-login-nav li a.active {
      color: #000000; }
  #theme-gray #main {
    /*======右侧导航======*/ }
    #theme-gray #main .main-image.home-page {
      background: url("../../image/gray-theme-main.jpg") no-repeat center; }
    #theme-gray #main .main-image.cate-page {
      background: url("../../image/main-image9.jpg") no-repeat center; }
    #theme-gray #main .main-image.tag-page {
      background: url("../../image/main-image2.jpg") no-repeat center; }
    #theme-gray #main .main-image.detail-page {
      background: url("../../image/main-image5.jpg") no-repeat center; }
    #theme-gray #main .content-wrapper {
      /*左边内容*/
      /*文章表单*/ }
      #theme-gray #main .content-wrapper .left-content .cur-article-list h3 {
        color: #565656; }
      #theme-gray #main .content-wrapper .left-content .article-detail-box .article-attach-info .cur-article-tag-all ul li a:hover {
        color: #6F6F6F; }
      #theme-gray #main .content-wrapper .left-content .tag-page-info h3, #theme-gray #main .content-wrapper .left-content .cate-page-info h3 {
        color: #6F6F6F; }
      #theme-gray #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input span:hover, #theme-gray #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input span:hover {
        color: #6F6F6F; }
      #theme-gray #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-tag-input label.checked .icon-box, #theme-gray #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-tag-input label.checked .icon-box {
        background-color: #6F6F6F;
        border: 3px solid #6F6F6F; }
      #theme-gray #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-cate-input label.checked .icon-box, #theme-gray #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-cate-input label.checked .icon-box {
        border: 3px solid #6F6F6F; }
        #theme-gray #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-cate-input label.checked .icon-box:before, #theme-gray #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-cate-input label.checked .icon-box:before {
          background-color: #6F6F6F; }
      #theme-gray #main .content-wrapper #write-article-form .submit-btn input {
        background-color: #6F6F6F; }
        #theme-gray #main .content-wrapper #write-article-form .submit-btn input h3 {
          border-bottom: 1px solid #6F6F6F; }
        #theme-gray #main .content-wrapper #write-article-form .submit-btn input:hover {
          background-color: #3c3c3c; }
    #theme-gray #main .right-sidebar {
      /*分类和时间轴*/ }
      #theme-gray #main .right-sidebar h3 {
        border-bottom: 2px solid #6F6F6F; }
      #theme-gray #main .right-sidebar .sort-list li a:hover, #theme-gray #main .right-sidebar .sort-list li a.active, #theme-gray #main .right-sidebar .timeline-list li a:hover, #theme-gray #main .right-sidebar .timeline-list li a.active {
        color: #6F6F6F; }

#theme-blue {
  /*头部*/
  /*中间部分*/ }
  #theme-blue #main .content-wrapper .l-btn {
    padding: 9px 12px;
    color: #ffffff;
    background-color: #4D8AD6;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transiton: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    #theme-blue #main .content-wrapper .l-btn:hover {
      background-color: #387cd1; }
  #theme-blue #main .content-wrapper .submit-btn {
    text-align: center;
    margin-top: 25px; }
    #theme-blue #main .content-wrapper .submit-btn button {
      width: 130px;
      -moz-border-radius: 5px;
      /* Firefox */
      -webkit-border-radius: 5px;
      /* Safari 和 Chrome */
      border-radius: 5px;
      /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */ }
  #theme-blue #main .content-wrapper input.focus, #theme-blue #main .content-wrapper textarea.focus {
    border: 1px solid #4D8AD6;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s; }
  #theme-blue #main .content-wrapper input.danger-border {
    border: 1px solid #e51717;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s; }
  #theme-blue #main .content-wrapper .left-content #article-comment-area .comment-btn a:last-child {
    background-color: #4D8AD6;
    border: 1px solid #4D8AD6;
    color: #ffffff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transiton: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #theme-blue #main .content-wrapper .left-content #article-comment-area .comment-btn a:last-child:hover {
      background-color: #2d70c3; }
  #theme-blue #main .content-wrapper .left-content #article-comment-area .write-comment-box .comment-texts.focus, #theme-blue #main .content-wrapper .left-content #article-comment-area .write-reply-box .comment-texts.focus {
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    border: 1px solid #4D8AD6; }
  #theme-blue #main .content-wrapper .left-content #article-comment-area .other-comments .comment-list .other-info .reply-comment li:hover {
    color: #76a5e0; }
  #theme-blue #main .content-wrapper .left-content #article-comment-area .other-comments .comment-list .reply-btn:hover {
    color: #4D8AD6; }
  #theme-blue #header {
    background-color: #4D8AD6; }
    #theme-blue #header .user-logo span {
      color: #ffffff; }
    #theme-blue #header .header-nav li a:hover, #theme-blue #header .user-login-nav li a:hover {
      color: #000000; }
    #theme-blue #header .header-nav li a.active, #theme-blue #header .user-login-nav li a.active {
      color: #000000; }
  #theme-blue #main {
    /*======右侧导航======*/ }
    #theme-blue #main .main-image.home-page {
      background: url("../../image/blue-theme-main.jpg") no-repeat center; }
    #theme-blue #main .main-image.cate-page {
      background: url("../../image/main-image9.jpg") no-repeat center; }
    #theme-blue #main .main-image.tag-page {
      background: url("../../image/main-image2.jpg") no-repeat center; }
    #theme-blue #main .main-image.detail-page {
      background: url("../../image/main-image5.jpg") no-repeat center; }
    #theme-blue #main .content-wrapper {
      /*左边内容*/
      /*文章表单*/ }
      #theme-blue #main .content-wrapper .left-content .cur-article-list h3 {
        color: #2d70c3; }
      #theme-blue #main .content-wrapper .left-content .article-detail-box .article-attach-info .cur-article-tag-all ul li a:hover {
        color: #4D8AD6; }
      #theme-blue #main .content-wrapper .left-content .tag-page-info h3, #theme-blue #main .content-wrapper .left-content .cate-page-info h3 {
        color: #4D8AD6; }
      #theme-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input span:hover, #theme-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input span:hover {
        color: #4D8AD6; }
      #theme-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-tag-input label.checked .icon-box, #theme-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-tag-input label.checked .icon-box {
        background-color: #4D8AD6;
        border: 3px solid #4D8AD6; }
      #theme-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-cate-input label.checked .icon-box, #theme-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-cate-input label.checked .icon-box {
        border: 3px solid #4D8AD6; }
        #theme-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-cate-input label.checked .icon-box:before, #theme-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-cate-input label.checked .icon-box:before {
          background-color: #4D8AD6; }
      #theme-blue #main .content-wrapper #write-article-form .submit-btn input {
        background-color: #4D8AD6; }
        #theme-blue #main .content-wrapper #write-article-form .submit-btn input h3 {
          border-bottom: 1px solid #4D8AD6; }
        #theme-blue #main .content-wrapper #write-article-form .submit-btn input:hover {
          background-color: #23589a; }
    #theme-blue #main .right-sidebar {
      /*分类和时间轴*/ }
      #theme-blue #main .right-sidebar h3 {
        border-bottom: 2px solid #4D8AD6; }
      #theme-blue #main .right-sidebar .sort-list li a:hover, #theme-blue #main .right-sidebar .sort-list li a.active, #theme-blue #main .right-sidebar .timeline-list li a:hover, #theme-blue #main .right-sidebar .timeline-list li a.active {
        color: #4D8AD6; }

#theme-darken-blue {
  /*头部*/
  /*中间部分*/ }
  #theme-darken-blue #main .content-wrapper .l-btn {
    padding: 9px 12px;
    color: #ffffff;
    background-color: #484762;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transiton: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    #theme-darken-blue #main .content-wrapper .l-btn:hover {
      background-color: #3d3c53; }
  #theme-darken-blue #main .content-wrapper .submit-btn {
    text-align: center;
    margin-top: 25px; }
    #theme-darken-blue #main .content-wrapper .submit-btn button {
      width: 130px;
      -moz-border-radius: 5px;
      /* Firefox */
      -webkit-border-radius: 5px;
      /* Safari 和 Chrome */
      border-radius: 5px;
      /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */ }
  #theme-darken-blue #main .content-wrapper input.focus, #theme-darken-blue #main .content-wrapper textarea.focus {
    border: 1px solid #484762;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s; }
  #theme-darken-blue #main .content-wrapper input.danger-border {
    border: 1px solid #e51717;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s; }
  #theme-darken-blue #main .content-wrapper .left-content #article-comment-area .comment-btn a:last-child {
    background-color: #484762;
    border: 1px solid #484762;
    color: #ffffff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transiton: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #theme-darken-blue #main .content-wrapper .left-content #article-comment-area .comment-btn a:last-child:hover {
      background-color: #323244; }
  #theme-darken-blue #main .content-wrapper .left-content #article-comment-area .write-comment-box .comment-texts.focus, #theme-darken-blue #main .content-wrapper .left-content #article-comment-area .write-reply-box .comment-texts.focus {
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    border: 1px solid #484762; }
  #theme-darken-blue #main .content-wrapper .left-content #article-comment-area .other-comments .comment-list .other-info .reply-comment li:hover {
    color: #5e5c80; }
  #theme-darken-blue #main .content-wrapper .left-content #article-comment-area .other-comments .comment-list .reply-btn:hover {
    color: #484762; }
  #theme-darken-blue #header {
    background-color: #484762; }
    #theme-darken-blue #header .user-logo span {
      color: #ffffff; }
    #theme-darken-blue #header .header-nav li a:hover, #theme-darken-blue #header .user-login-nav li a:hover {
      color: #000000; }
    #theme-darken-blue #header .header-nav li a.active, #theme-darken-blue #header .user-login-nav li a.active {
      color: #000000; }
  #theme-darken-blue #main {
    /*======右侧导航======*/ }
    #theme-darken-blue #main .main-image.home-page {
      background: url("../../image/darken-blue-theme-main.jpg") no-repeat center; }
    #theme-darken-blue #main .main-image.cate-page {
      background: url("../../image/main-image9.jpg") no-repeat center; }
    #theme-darken-blue #main .main-image.tag-page {
      background: url("../../image/main-image2.jpg") no-repeat center; }
    #theme-darken-blue #main .main-image.detail-page {
      background: url("../../image/main-image5.jpg") no-repeat center; }
    #theme-darken-blue #main .content-wrapper {
      /*左边内容*/
      /*文章表单*/ }
      #theme-darken-blue #main .content-wrapper .left-content .cur-article-list h3 {
        color: #323244; }
      #theme-darken-blue #main .content-wrapper .left-content .article-detail-box .article-attach-info .cur-article-tag-all ul li a:hover {
        color: #484762; }
      #theme-darken-blue #main .content-wrapper .left-content .tag-page-info h3, #theme-darken-blue #main .content-wrapper .left-content .cate-page-info h3 {
        color: #484762; }
      #theme-darken-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input span:hover, #theme-darken-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input span:hover {
        color: #484762; }
      #theme-darken-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-tag-input label.checked .icon-box, #theme-darken-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-tag-input label.checked .icon-box {
        background-color: #484762;
        border: 3px solid #484762; }
      #theme-darken-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-cate-input label.checked .icon-box, #theme-darken-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-cate-input label.checked .icon-box {
        border: 3px solid #484762; }
        #theme-darken-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-cate-input label.checked .icon-box:before, #theme-darken-blue #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-cate-input label.checked .icon-box:before {
          background-color: #484762; }
      #theme-darken-blue #main .content-wrapper #write-article-form .submit-btn input {
        background-color: #484762; }
        #theme-darken-blue #main .content-wrapper #write-article-form .submit-btn input h3 {
          border-bottom: 1px solid #484762; }
        #theme-darken-blue #main .content-wrapper #write-article-form .submit-btn input:hover {
          background-color: #1d1c27; }
    #theme-darken-blue #main .right-sidebar {
      /*分类和时间轴*/ }
      #theme-darken-blue #main .right-sidebar h3 {
        border-bottom: 2px solid #484762; }
      #theme-darken-blue #main .right-sidebar .sort-list li a:hover, #theme-darken-blue #main .right-sidebar .sort-list li a.active, #theme-darken-blue #main .right-sidebar .timeline-list li a:hover, #theme-darken-blue #main .right-sidebar .timeline-list li a.active {
        color: #484762; }

#theme-red {
  /*头部*/
  /*中间部分*/ }
  #theme-red #main .content-wrapper .l-btn {
    padding: 9px 12px;
    color: #ffffff;
    background-color: #F67280;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transiton: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    #theme-red #main .content-wrapper .l-btn:hover {
      background-color: #f45a6a; }
  #theme-red #main .content-wrapper .submit-btn {
    text-align: center;
    margin-top: 25px; }
    #theme-red #main .content-wrapper .submit-btn button {
      width: 130px;
      -moz-border-radius: 5px;
      /* Firefox */
      -webkit-border-radius: 5px;
      /* Safari 和 Chrome */
      border-radius: 5px;
      /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */ }
  #theme-red #main .content-wrapper input.focus, #theme-red #main .content-wrapper textarea.focus {
    border: 1px solid #F67280;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s; }
  #theme-red #main .content-wrapper input.danger-border {
    border: 1px solid #e51717;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s; }
  #theme-red #main .content-wrapper .left-content #article-comment-area .comment-btn a:last-child {
    background-color: #F67280;
    border: 1px solid #F67280;
    color: #ffffff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transiton: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #theme-red #main .content-wrapper .left-content #article-comment-area .comment-btn a:last-child:hover {
      background-color: #f34255; }
  #theme-red #main .content-wrapper .left-content #article-comment-area .write-comment-box .comment-texts.focus, #theme-red #main .content-wrapper .left-content #article-comment-area .write-reply-box .comment-texts.focus {
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    border: 1px solid #F67280; }
  #theme-red #main .content-wrapper .left-content #article-comment-area .other-comments .comment-list .other-info .reply-comment li:hover {
    color: #f9a2ab; }
  #theme-red #main .content-wrapper .left-content #article-comment-area .other-comments .comment-list .reply-btn:hover {
    color: #F67280; }
  #theme-red #header {
    background-color: #F67280; }
    #theme-red #header .user-logo span {
      color: #ffffff; }
    #theme-red #header .header-nav li a:hover, #theme-red #header .user-login-nav li a:hover {
      color: #000000; }
    #theme-red #header .header-nav li a.active, #theme-red #header .user-login-nav li a.active {
      color: #000000; }
  #theme-red #main {
    /*======右侧导航======*/ }
    #theme-red #main .main-image.home-page {
      background: url("../../image/red-theme-main.jpg") no-repeat center; }
    #theme-red #main .main-image.cate-page {
      background: url("../../image/main-image9.jpg") no-repeat center; }
    #theme-red #main .main-image.tag-page {
      background: url("../../image/main-image2.jpg") no-repeat center; }
    #theme-red #main .main-image.detail-page {
      background: url("../../image/main-image5.jpg") no-repeat center; }
    #theme-red #main .content-wrapper {
      /*左边内容*/
      /*文章表单*/ }
      #theme-red #main .content-wrapper .left-content .cur-article-list h3 {
        color: #f34255; }
      #theme-red #main .content-wrapper .left-content .article-detail-box .article-attach-info .cur-article-tag-all ul li a:hover {
        color: #F67280; }
      #theme-red #main .content-wrapper .left-content .tag-page-info h3, #theme-red #main .content-wrapper .left-content .cate-page-info h3 {
        color: #F67280; }
      #theme-red #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input span:hover, #theme-red #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input span:hover {
        color: #F67280; }
      #theme-red #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-tag-input label.checked .icon-box, #theme-red #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-tag-input label.checked .icon-box {
        background-color: #F67280;
        border: 3px solid #F67280; }
      #theme-red #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-cate-input label.checked .icon-box, #theme-red #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-cate-input label.checked .icon-box {
        border: 3px solid #F67280; }
        #theme-red #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-cate-input label.checked .icon-box:before, #theme-red #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-cate-input label.checked .icon-box:before {
          background-color: #F67280; }
      #theme-red #main .content-wrapper #write-article-form .submit-btn input {
        background-color: #F67280; }
        #theme-red #main .content-wrapper #write-article-form .submit-btn input h3 {
          border-bottom: 1px solid #F67280; }
        #theme-red #main .content-wrapper #write-article-form .submit-btn input:hover {
          background-color: #f0122a; }
    #theme-red #main .right-sidebar {
      /*分类和时间轴*/ }
      #theme-red #main .right-sidebar h3 {
        border-bottom: 2px solid #F67280; }
      #theme-red #main .right-sidebar .sort-list li a:hover, #theme-red #main .right-sidebar .sort-list li a.active, #theme-red #main .right-sidebar .timeline-list li a:hover, #theme-red #main .right-sidebar .timeline-list li a.active {
        color: #F67280; }

#theme-darken-green {
  /*头部*/
  /*中间部分*/ }
  #theme-darken-green #main .content-wrapper .l-btn {
    padding: 9px 12px;
    color: #ffffff;
    background-color: #539092;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transiton: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    #theme-darken-green #main .content-wrapper .l-btn:hover {
      background-color: #4a8082; }
  #theme-darken-green #main .content-wrapper .submit-btn {
    text-align: center;
    margin-top: 25px; }
    #theme-darken-green #main .content-wrapper .submit-btn button {
      width: 130px;
      -moz-border-radius: 5px;
      /* Firefox */
      -webkit-border-radius: 5px;
      /* Safari 和 Chrome */
      border-radius: 5px;
      /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */ }
  #theme-darken-green #main .content-wrapper input.focus, #theme-darken-green #main .content-wrapper textarea.focus {
    border: 1px solid #539092;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s; }
  #theme-darken-green #main .content-wrapper input.danger-border {
    border: 1px solid #e51717;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s; }
  #theme-darken-green #main .content-wrapper .left-content #article-comment-area .comment-btn a:last-child {
    background-color: #539092;
    border: 1px solid #539092;
    color: #ffffff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transiton: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #theme-darken-green #main .content-wrapper .left-content #article-comment-area .comment-btn a:last-child:hover {
      background-color: #417071; }
  #theme-darken-green #main .content-wrapper .left-content #article-comment-area .write-comment-box .comment-texts.focus, #theme-darken-green #main .content-wrapper .left-content #article-comment-area .write-reply-box .comment-texts.focus {
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    border: 1px solid #539092; }
  #theme-darken-green #main .content-wrapper .left-content #article-comment-area .other-comments .comment-list .other-info .reply-comment li:hover {
    color: #6caaac; }
  #theme-darken-green #main .content-wrapper .left-content #article-comment-area .other-comments .comment-list .reply-btn:hover {
    color: #539092; }
  #theme-darken-green #header {
    background-color: #539092; }
    #theme-darken-green #header .user-logo span {
      color: #ffffff; }
    #theme-darken-green #header .header-nav li a:hover, #theme-darken-green #header .user-login-nav li a:hover {
      color: #000000; }
    #theme-darken-green #header .header-nav li a.active, #theme-darken-green #header .user-login-nav li a.active {
      color: #000000; }
  #theme-darken-green #main {
    /*======右侧导航======*/ }
    #theme-darken-green #main .main-image.home-page {
      background: url("../../image/darken-green-theme-main.jpg") no-repeat center; }
    #theme-darken-green #main .main-image.cate-page {
      background: url("../../image/main-image9.jpg") no-repeat center; }
    #theme-darken-green #main .main-image.tag-page {
      background: url("../../image/main-image2.jpg") no-repeat center; }
    #theme-darken-green #main .main-image.detail-page {
      background: url("../../image/main-image5.jpg") no-repeat center; }
    #theme-darken-green #main .content-wrapper {
      /*左边内容*/
      /*文章表单*/ }
      #theme-darken-green #main .content-wrapper .left-content .cur-article-list h3 {
        color: #417071; }
      #theme-darken-green #main .content-wrapper .left-content .article-detail-box .article-attach-info .cur-article-tag-all ul li a:hover {
        color: #539092; }
      #theme-darken-green #main .content-wrapper .left-content .tag-page-info h3, #theme-darken-green #main .content-wrapper .left-content .cate-page-info h3 {
        color: #539092; }
      #theme-darken-green #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input span:hover, #theme-darken-green #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input span:hover {
        color: #539092; }
      #theme-darken-green #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-tag-input label.checked .icon-box, #theme-darken-green #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-tag-input label.checked .icon-box {
        background-color: #539092;
        border: 3px solid #539092; }
      #theme-darken-green #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-cate-input label.checked .icon-box, #theme-darken-green #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-cate-input label.checked .icon-box {
        border: 3px solid #539092; }
        #theme-darken-green #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-cate-input label.checked .icon-box:before, #theme-darken-green #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-cate-input label.checked .icon-box:before {
          background-color: #539092; }
      #theme-darken-green #main .content-wrapper #write-article-form .submit-btn input {
        background-color: #539092; }
        #theme-darken-green #main .content-wrapper #write-article-form .submit-btn input h3 {
          border-bottom: 1px solid #539092; }
        #theme-darken-green #main .content-wrapper #write-article-form .submit-btn input:hover {
          background-color: #2e5051; }
    #theme-darken-green #main .right-sidebar {
      /*分类和时间轴*/ }
      #theme-darken-green #main .right-sidebar h3 {
        border-bottom: 2px solid #539092; }
      #theme-darken-green #main .right-sidebar .sort-list li a:hover, #theme-darken-green #main .right-sidebar .sort-list li a.active, #theme-darken-green #main .right-sidebar .timeline-list li a:hover, #theme-darken-green #main .right-sidebar .timeline-list li a.active {
        color: #539092; }

#theme-purple {
  /*头部*/
  /*中间部分*/ }
  #theme-purple #main .content-wrapper .l-btn {
    padding: 9px 12px;
    color: #ffffff;
    background-color: #9B5D73;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transiton: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    #theme-purple #main .content-wrapper .l-btn:hover {
      background-color: #8b5367; }
  #theme-purple #main .content-wrapper .submit-btn {
    text-align: center;
    margin-top: 25px; }
    #theme-purple #main .content-wrapper .submit-btn button {
      width: 130px;
      -moz-border-radius: 5px;
      /* Firefox */
      -webkit-border-radius: 5px;
      /* Safari 和 Chrome */
      border-radius: 5px;
      /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */ }
  #theme-purple #main .content-wrapper input.focus, #theme-purple #main .content-wrapper textarea.focus {
    border: 1px solid #9B5D73;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s; }
  #theme-purple #main .content-wrapper input.danger-border {
    border: 1px solid #e51717;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s; }
  #theme-purple #main .content-wrapper .left-content #article-comment-area .comment-btn a:last-child {
    background-color: #9B5D73;
    border: 1px solid #9B5D73;
    color: #ffffff;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transiton: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #theme-purple #main .content-wrapper .left-content #article-comment-area .comment-btn a:last-child:hover {
      background-color: #7b4a5b; }
  #theme-purple #main .content-wrapper .left-content #article-comment-area .write-comment-box .comment-texts.focus, #theme-purple #main .content-wrapper .left-content #article-comment-area .write-reply-box .comment-texts.focus {
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -ms-transiton: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    border: 1px solid #9B5D73; }
  #theme-purple #main .content-wrapper .left-content #article-comment-area .other-comments .comment-list .other-info .reply-comment li:hover {
    color: #b07b8e; }
  #theme-purple #main .content-wrapper .left-content #article-comment-area .other-comments .comment-list .reply-btn:hover {
    color: #9B5D73; }
  #theme-purple #header {
    background-color: #9B5D73; }
    #theme-purple #header .user-logo span {
      color: #ffffff; }
    #theme-purple #header .header-nav li a:hover, #theme-purple #header .user-login-nav li a:hover {
      color: #000000; }
    #theme-purple #header .header-nav li a.active, #theme-purple #header .user-login-nav li a.active {
      color: #000000; }
  #theme-purple #main {
    /*======右侧导航======*/ }
    #theme-purple #main .main-image.home-page {
      background: url("../../image/purple-theme-main.jpg") no-repeat center; }
    #theme-purple #main .main-image.cate-page {
      background: url("../../image/main-image9.jpg") no-repeat center; }
    #theme-purple #main .main-image.tag-page {
      background: url("../../image/main-image2.jpg") no-repeat center; }
    #theme-purple #main .main-image.detail-page {
      background: url("../../image/main-image5.jpg") no-repeat center; }
    #theme-purple #main .content-wrapper {
      /*左边内容*/
      /*文章表单*/ }
      #theme-purple #main .content-wrapper .left-content .cur-article-list h3 {
        color: #7b4a5b; }
      #theme-purple #main .content-wrapper .left-content .article-detail-box .article-attach-info .cur-article-tag-all ul li a:hover {
        color: #9B5D73; }
      #theme-purple #main .content-wrapper .left-content .tag-page-info h3, #theme-purple #main .content-wrapper .left-content .cate-page-info h3 {
        color: #9B5D73; }
      #theme-purple #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input span:hover, #theme-purple #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input span:hover {
        color: #9B5D73; }
      #theme-purple #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-tag-input label.checked .icon-box, #theme-purple #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-tag-input label.checked .icon-box {
        background-color: #9B5D73;
        border: 3px solid #9B5D73; }
      #theme-purple #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-cate-input label.checked .icon-box, #theme-purple #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-cate-input label.checked .icon-box {
        border: 3px solid #9B5D73; }
        #theme-purple #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-cate-input.article-cate-input label.checked .icon-box:before, #theme-purple #main .content-wrapper #write-article-form .article-info-form .info-form-list .article-tag-input.article-cate-input label.checked .icon-box:before {
          background-color: #9B5D73; }
      #theme-purple #main .content-wrapper #write-article-form .submit-btn input {
        background-color: #9B5D73; }
        #theme-purple #main .content-wrapper #write-article-form .submit-btn input h3 {
          border-bottom: 1px solid #9B5D73; }
        #theme-purple #main .content-wrapper #write-article-form .submit-btn input:hover {
          background-color: #5b3744; }
    #theme-purple #main .right-sidebar {
      /*分类和时间轴*/ }
      #theme-purple #main .right-sidebar h3 {
        border-bottom: 2px solid #9B5D73; }
      #theme-purple #main .right-sidebar .sort-list li a:hover, #theme-purple #main .right-sidebar .sort-list li a.active, #theme-purple #main .right-sidebar .timeline-list li a:hover, #theme-purple #main .right-sidebar .timeline-list li a.active {
        color: #9B5D73; }
