body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, table, td, dl, dt, dd, img, div, input, select, option {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Microsoft Yahei'; }

a, input, select, textarea, button {
  outline: none;
  border: none;
  vertical-align: middle; }

img {
  border: none; }

li {
  list-style: none; }

a {
  text-decoration: none; }

table {
  border-collapse: collapse; }

.float_l {
  float: left; }

.float_r {
  float: right; }

.clearFix:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
  visibility: hidden; }
