#main {
  background-color: #ffffff; }

#login-wrapper {
  background-color: #ffffff; }
  #login-wrapper .site-login {
    width: 450px;
    margin: 40px auto; }
    #login-form .form-group {
      margin: 20px auto; }

#footer {
  position: fixed;
  bottom: 0; }
