
 /*====右侧导航====*/
.right-sidebar {
      float: left;
      width: 25%;
      //搜索框
      .search-input {
        position: relative;
        .search-input-area {
          width: 100%;
          color: #444;
          border: 1px solid #dddddd;
          padding: 6px 10px 6px 15px;
          box-sizing: border-box;
        }
        .article-search-icon{
          cursor: pointer;
          position: absolute;
          top:8px;
          right: 8px;
          width: 17px;
          height:17px;
        }
      }
      /*标题*/
      h3 {
        font-size: 0;
        color: #666;
        margin: 25px 0 15px 0;
        padding-bottom: 15px;
        border-bottom: 2px solid #0ABFBC;
        i{
          width: 32px;
          height: 32px;
          margin-right: 10px;

        }
        i,span{
          font-size: 20px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      /*分类和时间轴*/
      .sort-list, .timeline-list {
        li {
          border-bottom: 1px solid #ccc;
          a {
            color: #666;
            font-size: 13px;
            display: block;
            height: 38px;
            line-height: 38px;
            text-decoration: none;
            cursor: pointer;
            &:hover,&.active{
              color:#0ABFBC ;
            }
          }
        }
      }
      /*时间轴*/
      .timeline-list{
        .time-list-total{
          float: right;
        }
      }
      /*标签*/
      .tag-wrapper {
        .tag-list {
          li {
            display: inline-block;
            margin: 3px;
            a {
              font-size: 12px;
              border: 1px solid #999999;
              color: #666;
              display: inline-block;
              padding: 6px 10px;
              border-radius: 3px;
              cursor: pointer;
              transition: 0.3s;
              text-decoration: none;
              &:hover, &.active{
                border: 1px solid #333333;
                background-color: #333333;
                color: #ffffff;
              }
            }
          }
        }
      }
    }